---
permalink: /index.html
---
{% set active = "home" %}
{% from "blocks.njk" import renderBlocks %}
<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>{{ home.seoTitle }}</title>
  <meta name="description" content="{{ home.seoDescription }}" />
  <link rel="stylesheet" href="/css/styles.css" />
</head>
<body>
  {% include "header.njk" %}
  {{ renderBlocks(home.blocks, site) }}
  {% include "footer.njk" %}
  <script src="/js/main.js"></script>
</body>
</html>
