---
permalink: /sitemap.xml
eleventyExcludeFromCollections: true
---
<?xml version="1.0" encoding="UTF-8"?>
<urlset xmlns="http://www.sitemaps.org/schemas/sitemap/0.9">
{%- set routes = ["/", "/painting/", "/cleaning/", "/about/", "/contact/"] -%}
{% for r in routes %}
  <url><loc>{{ seo.siteUrl }}{{ r }}</loc></url>
{%- endfor %}
</urlset>
